/**
 * 组件内置样式
 *
 */

// mixins
@import './var.scss';
@import './mixins/flex-box.scss';
// @import './mixins/ellipsis.scss';
// @import './mixins/hairline.scss';

// 常用样式
@import './animate.scss';
@import './ellipsis.scss';
@import './hairline.scss';

// iconFont
// $iconFontUrl:  '@/static/iuiIconFont.ttf';
$iconFontUrl: 'https://at.alicdn.com/t/font_1949925_qisrzzyoqy8.ttf';
