// Color Palette
$black: #000 !default;
$white: #fff !default;
$gray-1: #f7f8fa !default;
$gray-2: #f2f3f5 !default;
$gray-3: #ebedf0 !default;
$gray-4: #dcdee0 !default;
$gray-5: #c8c9cc !default;
$gray-6: #969799 !default;
$gray-7: #646566 !default;
$gray-8: #323233 !default;
$red: #ee0a24 !default;
$blue: #1989fa !default;
$orange: #ff976a !default;
$green: #07c160 !default;

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24) !default;
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917) !default;

// Component Colors
$text-color: $gray-8 !default;
$active-color: $gray-2 !default;
$active-opacity: 0.7 !default;
$disabled-opacity: 0.5 !default;
$background-color: $gray-1 !default;
$background-color-light: #fafafa !default;
$text-link-color: #576b95 !default;

// Padding
$padding-base: 4px !default;
$padding-xs: $padding-base * 2 !default;
$padding-sm: $padding-base * 3 !default;
$padding-md: $padding-base * 4 !default;
$padding-lg: $padding-base * 6 !default;
$padding-xl: $padding-base * 8 !default;

// Font
$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-md: 14px !default;
$font-size-lg: 16px !default;
$font-weight-bold: 500 !default;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto,
  'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif !default;
$price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif !default;

// Animation
$animation-duration-base: 0.3s !default;
$animation-duration-fast: 0.2s !default;
$animation-timing-function-enter: ease-out !default;
$animation-timing-function-leave: ease-in !default;

// Border
$border-color: $gray-3 !default;
$border-width-base: 1px !default;
$border-radius-sm: 2px !default;
$border-radius-md: 4px !default;
$border-radius-lg: 8px !default;
$border-radius-max: 999px !default;

// z-index
$z-index: 999 !default;

// Button
$button-default-height: 88rpx !default;
$button-default-line-height: 20px !default;
$button-default-font-size: $font-size-lg !default;
$button-default-color: $text-color !default;
$button-default-background-color: $white !default;
$button-default-border-color: $border-color !default;
$button-primary-color: $white !default;
$button-primary-background-color: $green !default;
$button-primary-border-color: $green !default;
$button-info-color: $white !default;
$button-info-background-color: $blue !default;
$button-info-border-color: $blue !default;
$button-danger-color: $white !default;
$button-danger-background-color: $red !default;
$button-danger-border-color: $red !default;
$button-warning-color: $white !default;
$button-warning-background-color: $orange !default;
$button-warning-border-color: $orange !default;
$button-border-width: $border-width-base !default;
$button-border-radius: $border-radius-sm !default;
$button-round-border-radius: $border-radius-max !default;
$button-plain-background-color: $white !default;
$button-disabled-opacity: $disabled-opacity !default;

// Page
$page-bg-color: $gray-1 !default;
$page-title-color: $gray-6 !default;
$page-title-size: $font-size-md !default;
$page-loading-title-size: $font-size-lg !default;

// Cell
$cell-font-size: $font-size-md !default;
$cell-line-height: 24px !default;
$cell-vertical-padding: 26rpx !default;
$cell-horizontal-padding: 30rpx !default;
$cell-text-color: $text-color !default;
$cell-background-color: $white !default;
$cell-border-color: $border-color !default;
$cell-active-color: $active-color !default;
$cell-required-color: $red !default;
$cell-title-color: $text-color !default;
$cell-title-font-size: $font-size-lg !default;
$cell-title-line-height: 24px !default;
$cell-label-color: $gray-6 !default;
$cell-label-font-size: $font-size-sm !default;
$cell-label-line-height: 18px !default;
$cell-label-margin-top: $padding-base !default;
$cell-value-color: $gray-6 !default;
$cell-icon-size: 16px !default;
$cell-right-icon-color: $gray-6 !default;

// CellGroup
$cell-group-background-color: $white;
$cell-group-title-color: $gray-6;
$cell-group-title-padding: $padding-md $padding-md $padding-xs;
$cell-group-title-font-size: $font-size-md;
$cell-group-title-line-height: 16px;

// Popup
$popup-background-color: $white;

// Picker
$picker-background-color: $white;
$picker-toolbar-height: 88rpx;
$picker-title-font-size: $font-size-lg;
$picker-action-padding: 0 $padding-md;
$picker-action-font-size: $font-size-md;
$picker-confirm-action-color: $blue;
$picker-cancel-action-color: $gray-6;
$picker-option-font-size: $font-size-lg;
$picker-option-text-color: $black;
$picker-loading-icon-color: $gray-6;
$picker-loading-mask-color: rgba(255, 255, 255, 0.9);
$picker-option-disabled-opacity: 0.3;
$picker-option-selected-text-color: $text-color;

// Loading
$loading-text-color: $gray-6 !default;
$loading-text-font-size: $font-size-md !default;
$loading-spinner-color: $gray-5 !default;
$loading-spinner-size: 60rpx !default;
$loading-spinner-animation-duration: 0.8s !default;

// LoadMore
$load-more-height: 100rpx !default;
$load-more-text-color: $gray-6 !default;
$load-more-text-font-size: $font-size-md !default;
$load-more-spinner-color: $gray-5 !default;

// Overlay
$overlay-z-index: $z-index !default;
$overlay-background-color: rgba(0, 0, 0, 0.7) !default;

// Image
$image-transition-duration: $animation-duration-base !default;
$image-placeholder-background-color: $gray-1 !default;
$image-placeholder-text-color: $gray-6 !default;

// Switch
$switch-width: 120rpx !default;
$switch-height: 60rpx !default;
$switch-border-color: rgba(0, 0, 0, 0.1) !default;
$switch-node-size: 60rpx !default;
$switch-node-z-index: 1 !default;
$switch-node-background-color: $white !default;
$switch-node-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !default;
$switch-background-color: $white !default;
$switch-on-background-color: $blue !default;
$switch-transition-duration: $animation-duration-base !default;
$switch-disabled-opacity: $disabled-opacity !default;

// Slider
$slider-active-background-color: $blue !default;
$slider-inactive-background-color: $gray-3 !default;
$slider-disabled-opacity: $disabled-opacity !default;
$slider-bar-height: 2px !default;
$slider-button-width: 48rpx !default;
$slider-button-height: 48rpx !default;
$slider-button-border-radius: 24rpx !default;
$slider-button-position-offset: -24rpx !default;
$slider-button-background-color: $white !default;
$slider-button-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !default;

// Radio
$radio-size: 20px !default;
$radio-border-color: $gray-5 !default;
$radio-transition-duration: $animation-duration-fast !default;
$radio-checked-icon-color: $blue !default;
$radio-disabled-icon-color: $gray-5 !default;
$radio-disabled-background-color: $border-color !default;

// NavBar
$nav-bar-height: 44px !default;
$nav-bar-padding: $padding-md !default;
$nav-bar-background-color: $white !default;
$nav-bar-text-color: $gray-7 !default;
$nav-bar-text-font-size: $font-size-md !default;
$nav-bar-title-font-size: $font-size-lg !default;
$nav-bar-title-text-color: $text-color !default;
